.images-button, .gmail-button {
    font-size: 13;
    background-color: rgb(184, 130, 94);
    border-radius: 100px;
    height: 30px;
    width: 70px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
}

.source-buttons {
    height: 60px;
    margin-top: 18px;
    margin-left: 1255px;
}

.top-buttons {
    height: 32px;
}

.nine-dots {
    cursor: pointer;
    position: relative;
    bottom: 7px;
    margin-left: 9px;
    width:24px;
    fill: rgb(95, 99, 104);
    opacity: 1;
}

.perfil-image {
    vertical-align: center;
    margin-left: 18px;
    background-size: 32px 32px ;
    font-size: 13px;
    border-radius: 50px;
    width: 32px;
    margin-bottom: 1px;
}

.google-container {
    align-items: center;
}

.google-image-container {
    text-align: center;
    margin-bottom: 40px;
}

.google-image {
    vertical-align: top;
    width: 380px;
    position: relative;
    top: 15px;
}

.search-bar-container {
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    height: 2000px;
}

.search-bar {
    width: 560px;
    height: 39px;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    border-color: gray;
    border: 1px solid #dcdcdc;
    position: relative;
    left: 50px;
    outline: none;
}

.search-bar:hover {
    box-shadow: 1px 1px 8px rgb(205, 205, 205);
}


.lens {
    height: 20px;
    vertical-align: middle;
    fill: rgb(154, 160, 166);
}

.mic-icon {
    height: 20px;
    vertical-align: middle;
}

.cam-icon {
    height: 25px;
    vertical-align: middle;
    margin-left: 18px;
}