.images-button, .gmail-button {
    font-size: 13;
    background-color: rgb(184, 130, 94);
    border-radius: 100px;
    height: 30px;
    width: 70px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: top;
}

.images-button:hover, .gmail-button:hover {
    text-decoration: underline;
}

.source-buttons {
    height: 60px;
    margin-top: 18px;
    margin-left: 1255px;
}

.top-buttons {
    height: 32px;
}

.nine-dots {
    cursor: pointer;
    position: relative;
    bottom: 7px;
    margin-left: 9px;
    width:24px;
    fill: rgb(95, 99, 104);
    width: 25px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 100px;
    opacity: 1;
}

.nine-dots:hover {
    background-color: rgb(239, 239, 239);
}

.perfil-image {
    vertical-align: top;
    margin-left: 5px;
    background-size: 32px 32px ;
    font-size: 13px;
    border-radius: 50px;
    width: 32px;
    margin-bottom: 1px;
    cursor: pointer;
}

.google-image-container {
    text-align: center;
    margin-bottom: 40px;
}

.google-image {
    vertical-align: top;
    width: 430px;
    position: relative;
    top: 15px;
    right: 25px;
}

.search-bar-container {
    border-radius: 30px;
    margin: 0 auto;
}

.search-bar {
    width: 560px;
    height: 39px;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    border-color: gray;
    border: 1px solid #dcdcdc;
    position: relative;
    left: 460px;
    outline: none;
}

.search-bar:hover {
    box-shadow: 1px 1px 8px rgb(205, 205, 205);
}

.lens {
    height: 20px;
    vertical-align: middle;
    fill: rgb(154, 160, 166);
    position: relative;
    left: -94px;
}

.mic-icon {
    height: 20px;
    vertical-align: middle;
    position: relative;
    left: 362px;
}

.cam-icon {
    height: 23px;
    vertical-align: middle;
    margin-left: 18px;
    position: relative;
    left: 358px;
}

.middle-buttons-container {
    padding: 18px;
   text-align: center; 
}

.buscar-button, .suerte-button {
    vertical-align: top;
    margin: 11px 4px 11px 4px;
    padding: 0px 16px 0px 16px;
    border: 1px;
    width: 150.63px;
    height: 36px;
    font-size: 14px;
    color: rgb(64, 60, 67);
    background-color: rgb(248, 249, 250);
    cursor: pointer;
    border-radius: 3px;
}

.suerte-button:hover, .buscar-button:hover {
    border: 1px solid rgb(210, 210, 210);
}

.suerte-button:focus, .buscar-button:focus {
    border: 1px solid rgb(11, 122, 250);
}

.latinoamerica-container {
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 14px;
    color: rgb(76, 76, 79);
}
